//Globals Styles
html{
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.3;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
  font-size: $font-sm;
  font-weight: 500;
  font-style: normal;
  color: $Darkgrayishblue;
  background-color: $Cream;
}

//Text
h1,
h2,
h3{
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-style: normal;
    color: $Verydarkblue;
    margin-top: 1rem;
    margin-bottom: 0;
}
h1{
    font-size: 50px;
    @include breakpoint-down(medium){
        font-size: 31px;
    }
}
h4,
h5,
h6{
    
    opacity: 0.9;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
   
}
p{
    line-height: 1.5;
    margin: 1rem auto;
}
a,
a:hover{
    text-decoration: none;
}
//Spacing
.container{
    width: 50rem;
 height: 100%;
    margin:5.502rem auto;
    border-radius: 10px;
    background-color: $White;

    @include breakpoint-down(medium){
        margin:2.25rem 1.416rem ;
        height: 100%;
    }
 &--pall{
    padding: 3rem 2.664rem;
    
 }

 .product-img{
    margin: 0;
    padding: 0;
 }

}
//Grid
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    @include breakpoint-down(medium){
        display: block;
    }


}
//Button
button,
.button{
    width: 100%;
    padding: 1.248rem;
    margin:2.832rem auto;
    font-size: 15px;
    letter-spacing: .5px;
    font-weight: 700;
border-radius: 5px;
border: none;
outline: none;
background-color: $Darkcyan;
color: $White;
opacity: 0.9;

}
button:hover,
.button:hover{
    opacity: 1;
}


//Visibility
.hide-for-mobile{//hide-for-mobile
@include breakpoint-down(medium) {
display: none;
}
}
.hide-for-desktop{//hide-for-desktop
@include breakpoint-up(large){
display: none;
}
}
