//Colors
$Darkcyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);
$Verydarkblue: hsl(212, 21%, 14%);
$Darkgrayishblue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);

//Fonts
$font-sm:0.875rem;//14px
$font-md:1.125rem;//18px
$font-lg:1.25rem;//20px
$font-xlg:3.25rem;//52px
